<!-- IF .user -->
<style>
table.table1 .simplename	{	color: #333333;	font-weight: bold;	padding: 5px;text-align: left; }
</style>
<div>
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_WARNINGS}</h3>
			<table class="table1" cellspacing="0">
				<thead>
					<tr>
						<th class="simplename">{L_AUTHOR}</th>
						<th class="simplename">{L_WARNING_TYPE}</th>
						<th class="simplename">{L_WARNING_TIME}</th>
						<th class="simplename">{L_WARNING_EXPIRES}</th>
						<th class="simplename">{L_REASON}</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<!-- BEGIN user -->
					<tr class="<!-- IF user.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
						<td>{user.USERNAME_FULL}</td>
						<td>{user.WARNING_TYPE}</td>
						<td>{user.WARNINGS}</td>
						<td>{user.WARNING_TIME}</td>
						<td style="width:40%;">{user.WARNING}</td>
						<td><!-- IF user.U_WARNING_POST_URL --><a href="{user.U_WARNING_POST_URL}">{L_WARNING_POST}</a><!-- ELSE --> <!-- ENDIF --></td>
						<td><!-- IF user.WARNING_STATUS --><a href="{user.U_EDIT}">{L_EDIT_WARNING}</a><!-- ELSE -->{L_WARNING_EXPIRED}<!-- ENDIF --></td>
					</tr>
				<!-- END user -->
				</tbody>
			</table>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
<!-- ENDIF -->